/* here you can put your own css to customize and override the theme */

/***
Rounded Portlets
***/
/*
.portlet {
        border-radius: 4px !important;
}

.portlet .portlet-title {
        border-radius: 4px 4px 0px 0px !important;
}

.portlet .portlet-body,
.portlet .portlet-body .form-actions  {
        border-radius: 0px 0px 4px 4px !important;
}
*/


/* Wallace - Data: 08/10/2015
 * Aparentemente não há classe para aumentar o tamanho
 * das 'badges' dos botões da tela inicial.
 *
 * [AUMENTA O TAMANHO DA BADGE]
 */
.larger-badge {
    font-size:19px !important;
    border-radius: 24px !important;
    height: 24px !important;
    min-width: 24px !important;
}

/* Wallace - Data: 08/10/2015
 * Necessário para que o icon fique com um tamanho específico e não faça com que a div
 * que o engloba fique menor que as adjacentes, gerando desalinhamento.
 *
 * [DEFINIR UM TAMANHO IGUAL AO DOS ICONS DO MOBILE]
 */
.icon-size-mobile { font-size:23px !important; }

/* Wallace - Data: 08/10/2015
 * Tive que tirar para o botão do GO(que busca a oc).
 *
 * [TIRAR AS SETAS QUE CONTROLAM O VALOR NO INPUT TIPO NUMÉRICO]
 */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {-moz-appearance: textfield;}

